@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

<div class="container main-content">

    @Umbraco.Field("title", altFieldAlias: "pageName", insertBefore: "<h3 class=\"mb-4\">", insertAfter: "</h3>")

    <div class="row mb-4">
        <div class="col">
            <h4>Description</h4>
            @Umbraco.Field("description")
        </div>

    </div>

    <div class="row mb-4">
        <div class="col">
            here goes the list of ITEMS
        </div>

    </div>


</div>