@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

@*shiq@unlv.nevada.edu*@

<div class="container main-content">
    <div class="card-group">
        <div class="card card-employee">
            <div class="card-body">
                <h4 class="card-title font-weight-little-bold mb-1">Brent Drake</h4>
                <h5 class="font-italic mb-3">Vice Provost for Decision Support</h5>
                <img class="float-left pr-3" src="~/img/drake-brent-9044.jpg" />
                <p class="card-text mb-0"><span class="font-weight-little-bold">Office:</span> <a href="https://www.unlv.edu/maps/mab">MAB</a> 123</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Mail Code:</span> 1022</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Phone:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Fax:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Email:</span> <a href="mailto:theresa.farmer@unlv.edu">theresa.farmer@unlv.edu</a></p>
                <button class="btn btn-outline-secondary float-right" type="button" onclick="location.href='../about-us/brent-drake'" runat="server">More</button>
            </div>
        </div>
        <div class="card card-employee">
            <div class="card-body">
                <h4 class="card-title font-weight-little-bold mb-1">Theresa Farmer</h4>
                <h5 class="font-italic mb-3">Office Manager</h5>
                <img class="float-left pr-3" src="~/img/unlv_sign_450x450-D65724_02.jpg" />
                <p class="card-text mb-0"><span class="font-weight-little-bold">Office:</span> <a href="https://www.unlv.edu/maps/mab">MAB</a> 123</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Mail Code:</span> 1022</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Phone:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Fax:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Email:</span> <a href="mailto:theresa.farmer@unlv.edu">theresa.farmer@unlv.edu</a></p>
                <button class="btn btn-outline-secondary float-right" type="button">More</button>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-employee">
            <div class="card-body">
                <h4 class="card-title font-weight-little-bold mb-1">Theresa Farmer</h4>
                <h5 class="font-italic mb-3">Office Manager</h5>
                <img class="float-left pr-3" src="~/img/unlv_sign_450x450-D65724_02.jpg" />
                <p class="card-text mb-0"><span class="font-weight-little-bold">Office:</span> <a href="https://www.unlv.edu/maps/mab">MAB</a> 123</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Mail Code:</span> 1022</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Phone:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Fax:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Email:</span> <a href="mailto:theresa.farmer@unlv.edu">theresa.farmer@unlv.edu</a></p>
                <button class="btn btn-outline-secondary float-right" type="button">More</button>
            </div>
        </div>
        <div class="card card-employee">
            <div class="card-body">
                <h4 class="card-title font-weight-little-bold mb-1">Theresa Farmer</h4>
                <h5 class="font-italic mb-3">Office Manager</h5>
                <img class="float-left pr-3" src="~/img/unlv_sign_450x450-D65724_02.jpg" />
                <p class="card-text mb-0"><span class="font-weight-little-bold">Office:</span> <a href="https://www.unlv.edu/maps/mab">MAB</a> 123</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Mail Code:</span> 1022</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Phone:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Fax:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Email:</span> <a href="mailto:theresa.farmer@unlv.edu">theresa.farmer@unlv.edu</a></p>
                <button class="btn btn-outline-secondary float-right" type="button">More</button>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card card-employee">
            <div class="card-body">
                <h4 class="card-title font-weight-little-bold mb-1">Theresa Farmer</h4>
                <h5 class="font-italic mb-3">Office Manager</h5>
                <img class="float-left pr-3" src="~/img/unlv_sign_450x450-D65724_02.jpg" />
                <p class="card-text mb-0"><span class="font-weight-little-bold">Office:</span> <a href="https://www.unlv.edu/maps/mab">MAB</a> 123</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Mail Code:</span> 1022</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Phone:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Fax:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Email:</span> <a href="mailto:theresa.farmer@unlv.edu">theresa.farmer@unlv.edu</a></p>
                <button class="btn btn-outline-secondary float-right" type="button">More</button>
            </div>
        </div>
        <div class="card card-employee">
            <div class="card-body">
                <h4 class="card-title font-weight-little-bold mb-1">Theresa Farmer</h4>
                <h5 class="font-italic mb-3">Office Manager</h5>
                <img class="float-left pr-3" src="~/img/unlv_sign_450x450-D65724_02.jpg" />
                <p class="card-text mb-0"><span class="font-weight-little-bold">Office:</span> <a href="https://www.unlv.edu/maps/mab">MAB</a> 123</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Mail Code:</span> 1022</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Phone:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Fax:</span> (702) 895-3771</p>
                <p class="card-text mb-0"><span class="font-weight-little-bold">Email:</span> <a href="mailto:theresa.farmer@unlv.edu">theresa.farmer@unlv.edu</a></p>
                <button class="btn btn-outline-secondary float-right" type="button">More</button>
            </div>
        </div>
    </div>

</div>

