@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="container main-content">

    <div class="row">
        <div class="col">
            <div class="page-header">
                <h3 id="student-profile" class="text-center mb-3">
                   Some Header of Future Cards
                </h3>
                <p>
                   Some Text of future cards
                </p>
            </div>
        </div>
    </div>




</div>