@inherits UmbracoViewPage

<footer class="footer bg-dark text-light text-center d-flex justify-content-center">
    <div class="container align-self-center">        
        <span class="text-muted footer-text">Office of Decision Support &copy; @DateTime.Now.Year</span>
    </div>
</footer>