

<div id="studentProfile">



    <h4 class="text-center mb-3">Degree Program</h4>
    <h5 id="degree-program-chart-drill-level" class="text-center mb-3">University</h5>

    <div class="row mb-5">
        <div class="col-md-6">
            <div id="degree-program-chart-table-placeholder">

            </div>
            <!-- <button type="button" class="btn btn-link" onclick="exportToExcel('degree-program-chart-table')">To Excel</button> -->

        </div>
        <div class="col-md-6">
            <div id="degree-program-chart" style="height: 500px; width: 500px;">

            </div>
        </div>
    </div>

    <h4 class="text-center mb-3">Student FTE</h4>
    <h5 id="student-fte-chart-drill-level" class="text-center mb-3">University</h5>

    <div class="row mb-5">
        <div class="col-md-7">
            <div id="student-fte-chart-table-placeholder">

            </div>
            <!-- <button type="button" class="btn btn-link" onclick="exportToExcel('degree-program-chart-table')">To Excel</button> -->

        </div>
        <div class="col-md-5">
            <div id="student-fte-chart" style="height: 300px; width: 400px;">

            </div>
        </div>
    </div>



    <h4 class="text-center mb-3">Student FTE <span class="small text-muted">(Expanded, with sublevels)</span></h4>
    <table class="table table-hover text-right table-report mb-5">
        <tbody>
            <tr>
                <th></th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
            </tr>
            <tr>
                <td>Undergraduate</td>
                <td>16,662.1</td>
                <td>17,368.7</td>
                <td>18,497.3</td>
                <td>19,022.4</td>
                <td>19,908.8</td>
                <td>20,552.8</td>
            </tr>
            <tr>
                <td class="pl-4">Lower</td>
                <td>10,365.3</td>
                <td>10,997.8</td>
                <td>11,922.2</td>
                <td>12,282.1</td>
                <td>12,754.3</td>
                <td>12,951.5</td>
            </tr>
            <tr>
                <td class="pl-4">Upper</td>
                <td>6,296.9</td>
                <td>6,370.9</td>
                <td>6,575.1</td>
                <td>6,740.3</td>
                <td>7,154.5</td>
                <td>7,601.3</td>
            </tr>
            <tr>
                <td>Graduate</td>
                <td>2,479.5</td>
                <td>2,479.7</td>
                <td>2,514.9</td>
                <td>2,701.2</td>
                <td>2,778.5</td>
                <td>2,913.4</td>
            </tr>
            <tr>
                <td class="pl-4">Master</td>
                <td>1,734.4</td>
                <td>1,733.5</td>
                <td>1748.2</td>
                <td>1891.5</td>
                <td>1923.1</td>
                <td>2007.2</td>
            </tr>
            <tr>
                <td class="pl-4">Doctoral</td>
                <td>745.1</td>
                <td>746.2</td>
                <td>766.7</td>
                <td>809.7</td>
                <td>855.4</td>
                <td>906.3</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>19,141.6</td>
                <td>19,848.4</td>
                <td>21,012.3</td>
                <td>21,723.7</td>
                <td>22,687.3</td>
                <td>23,466.2</td>
            </tr>
        </tbody>
    </table>


    <h4 class="text-center mb-3">Enrollment Status</h4>
    @*<h5 id="enrollment-status-chart-drill-level" class="text-center mb-3">University</h5>*@
    <div class="row mb-5">
        <div class="col-md-7">
            <div id="enrollment-status-chart-table-placeholder">

            </div>
            <!-- <button type="button" class="btn btn-link" onclick="exportToExcel('degree-program-chart-table')">To Excel</button> -->

        </div>
        <div class="col-md-5">
            <div id="enrollment-status-chart" style="height: 300px; width: 400px;">

            </div>
        </div>
    </div>

    <h4 class="text-center mb-3">Residency</h4>
    @*<h5 id="enrollment-status-chart-drill-level" class="text-center mb-3">University</h5>*@
    <div class="row mb-5">
        <div class="col-md-7">
            <div id="residency-chart-table-placeholder">

            </div>
            <!-- <button type="button" class="btn btn-link" onclick="exportToExcel('degree-program-chart-table')">To Excel</button> -->

        </div>
        <div class="col-md-5">
            <div id="residency-chart" style="height: 300px; width: 400px;">

            </div>
        </div>
    </div>


    <h4 class="text-center mb-3">Gender</h4>
    @*<h5 id="enrollment-status-chart-drill-level" class="text-center mb-3">University</h5>*@
    <div class="row mb-5">
        <div class="col-md-7">
            <div id="gender-chart-table-placeholder">

            </div>
            <!-- <button type="button" class="btn btn-link" onclick="exportToExcel('degree-program-chart-table')">To Excel</button> -->

        </div>
        <div class="col-md-5">
            <div id="gender-chart" style="height: 300px; width: 400px;">

            </div>
        </div>
    </div>


    <div class="col-md-12 mx-auto mb-5">
                             

        <h4 id="age" class="text-center mb-1">Age</h4>
        <h6 class="text-center mb-2">Under and Over 25</h6>
        <table class="table table-hover text-right table-report">
            <tbody>
                <tr>
                    <th></th>
                    <th>2012</th>
                    <th>2013</th>
                    <th>2014</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017</th>
                </tr>
                <tr>
                    <td>Under 25</td>
                    <td>17,842</td>
                    <td>18,669</td>
                    <td>19,384</td>
                    <td>19,385</td>
                    <td>20,199</td>
                    <td>20,766</td>
                </tr>
                <tr>
                    <td>25 and Over</td>
                    <td>9,547</td>
                    <td>9,179</td>
                    <td>9,131</td>
                    <td>9,215</td>
                    <td>9,503</td>
                    <td>9,705</td>
                </tr>
                <tr>
                    <td><a href="student-profile-prof.html">Total</a></td>
                    <td><a href="student-profile-prof.html">27,389</a></td>
                    <td><a href="student-profile-prof.html">27,848</a></td>
                    <td><a href="student-profile-prof.html">28,515</a></td>
                    <td><a href="student-profile-prof.html">28,600</a></td>
                    <td><a href="student-profile-prof.html">29,702</a></td>
                    <td><a href="student-profile-prof.html">30,471</a></td>
                </tr>
            </tbody>
        </table>

        <h4 class="text-center mb-1">Age</h4>
        <h6 class="text-center mb-2">Under 18 &mdash; 60 and Over</h6>

        <table class="table table-hover text-right table-report">
            <tbody>
                <tr>
                    <th></th>
                    <th>2012</th>
                    <th>2013</th>
                    <th>2014</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017</th>
                </tr>
                <tr>
                    <td>Under 18</td>
                    <td>362</td>
                    <td>432</td>
                    <td>436</td>
                    <td>445</td>
                    <td>439</td>
                    <td>432</td>
                </tr>
                <tr>
                    <td>18 to 20</td>
                    <td>8,277</td>
                    <td>8,923</td>
                    <td>9,617</td>
                    <td>9,750</td>
                    <td>10,215</td>
                    <td>10,406</td>
                </tr>
                <tr>
                    <td>21 to 22</td>
                    <td>5,731</td>
                    <td>5,667</td>
                    <td>5,532</td>
                    <td>5,581</td>
                    <td>6,051</td>
                    <td>6,275</td>
                </tr>
                <tr>
                    <td>23 to 24</td>
                    <td>3,473</td>
                    <td>3,647</td>
                    <td>3,799</td>
                    <td>3,609</td>
                    <td>3,494</td>
                    <td>3,653</td>
                </tr>
                <tr>
                    <td>25 to 32</td>
                    <td>6,070</td>
                    <td>5,780</td>
                    <td>5,613</td>
                    <td>5,773</td>
                    <td>5,824</td>
                    <td>5,940</td>
                </tr>
                <tr>
                    <td>33 to 39</td>
                    <td>1,722</td>
                    <td>1,727</td>
                    <td>1,807</td>
                    <td>1,732</td>
                    <td>1,841</td>
                    <td>1,836</td>
                </tr>
                <tr>
                    <td>40 to 59</td>
                    <td>1,610</td>
                    <td>1,554</td>
                    <td>1,580</td>
                    <td>1,569</td>
                    <td>1,681</td>
                    <td>1,779</td>
                </tr>
                <tr>
                    <td>60 and Over</td>
                    <td>144</td>
                    <td>118</td>
                    <td>131</td>
                    <td>141</td>
                    <td>157</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td><a href="student-profile-prof.html">Total</a></td>
                    <td><a href="student-profile-prof.html">27,389</a></td>
                    <td><a href="student-profile-prof.html">27,848</a></td>
                    <td><a href="student-profile-prof.html">28,515</a></td>
                    <td><a href="student-profile-prof.html">28,600</a></td>
                    <td><a href="student-profile-prof.html">29,702</a></td>
                    <td><a href="student-profile-prof.html">30,471</a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>


<script src="~/scripts/drill-down-barchart.js"></script>

<script type="text/javascript">


        //TEMP: link to json file for drill-down charts, issue is application root on localhost and server is different
        //localhost is "/", server is "/UmbracoODS"
        @*var appRoot = "@Request.ApplicationPath";*@
        var appRoot = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))";

        //for localhost we're cleaning appRoot as far as we don't need an extra backslash in the filepath
        //appRoot = appRoot.length > 1 ? appRoot : "";

        //In case of localhost appRoot is empty, for server - contains "/UmbracoODS"
    var dataLink = appRoot + "data/degree-program-depts-sample.json";
    var dataFTE = appRoot + "data/student-fte-sample.json";
    var dataEnrollmentStatus = appRoot + "data/enrollment-status-sample.json";
    var dataResidency = appRoot + "data/residency-sample.json";
    var dataGender = appRoot + "data/gender-sample.json";

    drillDownZeroLevel(
        dataLink,
        "date",
        "headcount",
        ["level", "college", "department"],
        "#degree-program-chart",
        false
    );
      
    drillDownZeroLevel(
        dataFTE,
        "date",
        "fte",
        ["level", "sublevel"],
        "#student-fte-chart",
        false
    );

    drillDownZeroLevel(
        dataEnrollmentStatus,
        "date",
        "headcount",
        ["status"],
        "#enrollment-status-chart",
        false
    );

    drillDownZeroLevel(
        dataResidency,
        "date",
        "headcount",
        ["residency"],
        "#residency-chart",
        false
    );

    drillDownZeroLevel(
        dataGender,
        "date",
        "headcount",
        ["gender"],
        "#gender-chart",
        false
    );
        // Init tooltips
        $('[data-toggle="tooltip"]').tooltip();

        //console.log($("#studentProfile"));

        $("#studentProfile").appendTo($("#reportContent"));
</script>



